streamlit==1.56.0
pandas==3.0.2
numpy==2.4.2
scikit-learn==1.8.0
matplotlib==3.10.9
openpyxl==3.1.5
python-docx==1.2.0
requests==2.32.5
beautifulsoup4==4.14.3
pymupdf==1.26.7
nbformat==5.10.4
nbclient==0.10.2
nbconvert==7.16.6
ipykernel==6.29.5
